In [5]:
import pandas as pd

# Cargar el archivo CSV
file_path = 'df_listing_clean_price.csv'
df_listing_clean_price = pd.read_csv(file_path)

# Crear la tabla 'listing' sin índice
listing_columns = [
    'listing_id', 'host_id', 'longitude', 'latitude', 
    'room_type', 'accommodates', 'instant_bookable', 'base_price'
]
df_listing = df_listing_clean_price[listing_columns].copy(deep=True)

# Crear la tabla 'reviews' sin índice
reviews_columns = [
    'listing_id', 'number_of_reviews', 'number_of_reviews_ltm', 
    'number_of_reviews_l30d', 'review_scores_rating'
]
df_reviews = df_listing_clean_price[reviews_columns].copy(deep=True)

# Renombrar columnas en df_reviews
df_reviews.rename(columns={
    'number_of_reviews_ltm': 'reviews_lastyear',
    'number_of_reviews_l30d': 'reviews_last30days'
}, inplace=True)

# Añadir una columna 'reviews_id' para identificación única en 'reviews'
df_reviews['reviews_id'] = range(len(df_reviews))

# Mover la columna 'reviews_id' a la primera posición
cols = ['reviews_id'] + [col for col in df_reviews.columns if col != 'reviews_id']
df_reviews = df_reviews[cols]

# Crear la tabla 'host' y eliminar duplicados
host_columns = [
    'host_id', 'host_name', 'host_since', 'host_location', 
    'host_response_time', 'host_is_superhost', 'host_listings_count'
]
df_host = df_listing_clean_price[host_columns].drop_duplicates(subset='host_id').copy(deep=True)

# Asegurarse de que no hay columnas índice
df_listing.reset_index(drop=True, inplace=True)
df_reviews.reset_index(drop=True, inplace=True)
df_host.reset_index(drop=True, inplace=True)

# Exportar los DataFrames a CSV
df_listing.to_csv('listing.csv', index=False)
df_reviews.to_csv('reviews.csv', index=False)
df_host.to_csv('host.csv', index=False)

In [6]:
df_listing

,listing_id,host_id,longitude,latitude,room_type,accommodates,instant_bookable,base_price
0,638401413782978130,382146507,-4.420914,36.722069,Entire home/apt,4,t,160
1,593807685540946920,11733642,-4.413260,36.727180,Entire home/apt,7,t,180
2,689209787389564671,13967638,-4.412884,36.727710,Entire home/apt,4,f,85
3,1169368107504912867,4884962,-4.420821,36.719241,Entire home/apt,10,t,191
4,53218911,413971511,-4.434390,36.737370,Entire home/apt,2,t,50
...,...,...,...,...,...,...,...,...
8971,835976859934550613,9960184,-4.421170,36.732120,Private room,1,f,36
8972,49747007,22481967,-4.375300,36.720810,Entire home/apt,2,f,51
8973,774557366205990523,21521353,-4.418226,36.732443,Entire home/apt,4,t,250
8974,901899213240359171,2634139,-4.517120,36.657970,Entire home/apt,6,f,282
8975,1044163931591337291,24525026,-4.430859,36.707949,Private room,2,f,23

In [7]:
df_reviews

,reviews_id,listing_id,number_of_reviews,reviews_lastyear,reviews_last30days,review_scores_rating
0,0,638401413782978130,100,58,4,4.97
1,1,593807685540946920,12,4,1,5.0
2,2,689209787389564671,11,6,0,4.73
3,3,1169368107504912867,0,0,0,Unknown
4,4,53218911,17,4,0,3.47
...,...,...,...,...,...,...
8971,8971,835976859934550613,9,6,0,4.56
8972,8972,49747007,65,17,0,4.65
8973,8973,774557366205990523,42,33,2,4.93
8974,8974,901899213240359171,0,0,0,Unknown
8975,8975,1044163931591337291,32,32,4,4.63

In [8]:
df_host

,host_id,host_name,host_since,host_location,host_response_time,host_is_superhost,host_listings_count
0,382146507,Lovely,2020-12-29,"Málaga, Spain",within an hour,f,72
1,11733642,Airgestión,2014-01-28,Spain,within an hour,f,21
2,13967638,Susanna,2014-04-06,"Málaga, Spain",within a few hours,f,2
3,4884962,"Esther, Francisco & Sara",2013-01-28,"Andalusia, Spain",within an hour,f,23
4,413971511,Montana,2021-07-19,"Andalusia, Spain",within an hour,f,22
...,...,...,...,...,...,...,...
3414,459683812,Axel,2022-05-18,Unknown,within an hour,f,1
3415,576806468,Angel,2024-05-10,Unknown,within a day,f,1
3416,1363874,Gonzalo Javier,2011-11-02,"Málaga, Spain",within an hour,t,2
3417,22481967,Joaquin,2014-10-13,"Andalusia, Spain",within an hour,f,1
3418,2634139,Stefan,2012-06-14,Unknown,within a day,f,1