In [4]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import getpass  # Para obtener la contraseña sin mostrar la entrada

# Obtener la contraseña de forma segura
password = getpass.getpass("Enter MySQL password: ")

# Configuración de la base de datos y la conexión
bd = "civitatis_airbnb"  # Nombre correcto de la base de datos
connection_string = f'mysql+pymysql://root:{password}@localhost/{bd}'
engine = create_engine(connection_string)

# Leer la tabla 'host' en un DataFrame
consulta = "SELECT * FROM host"  # Query para seleccionar toda la tabla 'host'
df_host = pd.read_sql(consulta, con=engine)

# Mostrar los primeros registros del DataFrame
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Mostrar los primeros registros del DataFrame
display(df_host.head(50))

,host_id,host_name,host_since,host_location,host_response_time,host_is_superhost,host_listings_count
0,382146507,Lovely,2020-12-29,"Málaga, Spain",within an hour,f,72
1,11733642,Airgestión,2014-01-28,Spain,within an hour,f,21
2,13967638,Susanna,2014-04-06,"Málaga, Spain",within a few hours,f,2
3,4884962,"Esther, Francisco & Sara",2013-01-28,"Andalusia, Spain",within an hour,f,23
4,413971511,Montana,2021-07-19,"Andalusia, Spain",within an hour,f,22
5,422798059,Carlos Alberto,2021-09-13,"Málaga, Spain",within an hour,t,3
6,446668777,Rodo,2022-02-24,"Málaga, Spain",within an hour,f,1
7,126386697,Lu&Cia,2017-04-18,"Málaga, Spain",within an hour,f,44
8,399961266,Gestitur,2021-05-04,Unknown,within an hour,f,62
9,428065882,Maria,2021-10-19,Unknown,Unknown,f,7
10,79877163,Santi,2016-06-25,"Andalusia, Spain",within an hour,f,2
11,329266025,Welcome,2020-01-20,"Málaga, Spain",within a few hours,f,52
12,138864019,Alberto,2017-07-06,"Málaga, Spain",within an hour,f,29
13,40571478,La Casa De La Alameda,2015-08-05,"Andalusia, Spain",within a day,t,13
14,269784222,Blanca,2019-06-19,"Málaga, Spain",within an hour,f,3
15,31649041,Sami Idriss,2015-04-21,"Málaga, Spain",within a day,f,10
16,33721800,Elsa,2015-05-19,"Málaga, Spain",Unknown,f,1
17,11224703,Juan,2014-01-12,"Málaga, Spain",within a few hours,f,1
18,89705945,Antonio.,2016-08-13,"Málaga, Spain",within an hour,f,61
19,2477923,Caleta Homes,2012-05-27,"Andalucía, Spain",within an hour,f,108
20,12959608,Mª Carmen,2014-03-09,"Málaga, Spain",within a few hours,f,3
21,117748581,Fátima,2017-02-23,"Málaga, Spain",within an hour,t,1
22,2957440,Lucia,2012-07-16,"Andalusia, Spain",within an hour,t,16
23,78910335,Alberto,2016-06-20,"Málaga, Spain",a few days or more,f,1
24,23300642,Malaga,2014-11-03,"Andalusia, Spain",within an hour,f,25
25,577948392,Alejandro,2024-05-16,Unknown,within a few hours,f,1
26,352514710,Begoña,2020-06-29,Unknown,within a day,f,10
27,409279835,María Del Mar,2021-06-26,"Andalusia, Spain",within a day,f,1
28,63385507,Alejandro,2016-03-17,"Málaga, Spain",Unknown,f,1
29,7082899,MimoRooms,2013-06-24,"Málaga, Spain",within an hour,f,35
30,79418042,INMálaga,2016-06-23,"Málaga, Spain",within an hour,f,41
31,433266407,OndaLuz,2021-11-24,Unknown,within an hour,f,21
32,317065206,María,2019-12-13,"Málaga, Spain",within an hour,f,91
33,257531397,Elena,2019-04-23,"Málaga, Spain",within an hour,f,1
34,16135283,Raquel,2014-05-29,"Málaga, Spain",within a few hours,f,4
35,31088953,Jose Maria,2015-04-12,"Málaga, Spain",within a few hours,f,8
36,146243868,Hotel Humaina,2017-08-16,"Andalusia, Spain",within an hour,f,4
37,12762864,Alfonso,2014-03-03,"Málaga, Spain",within a few hours,f,5
38,92807180,Belen,2016-08-31,Unknown,within an hour,t,7
39,586249512,Marek,2024-06-28,Unknown,Unknown,f,1
40,111975119,Arianna,2017-01-17,Unknown,Unknown,f,1
41,336339051,Fernando,2020-02-15,"Andalusia, Spain",within an hour,Unknown,46
42,31673943,Inés,2015-04-21,"Málaga, Spain",within an hour,f,2
43,145604096,Ofelia Y Alejandro,2017-08-12,Unknown,within an hour,f,2
44,109034785,María Dolores,2016-12-29,Unknown,within a day,f,1
45,481370951,Mª Begoña,2022-09-28,Unknown,within a few hours,f,24
46,40570361,Villa Alicia,2015-08-05,Unknown,within a day,f,15
47,455744007,Carlos,2022-04-24,Unknown,within an hour,t,1
48,154343892,Ibra,2017-10-12,"Málaga, Spain",within an hour,t,4
49,250112582,HomeAbroad Apartments,2019-03-20,"Andalusia, Spain",within an hour,f,39